.cornerDiv{
    background-color: #545255;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 70px;
    width: 103px;
}

.stroke-fill-span
{
    width: 68px;
    display: inline-block;
}

.fillSpan{
    display: inline-block;
    width: 29px;
}



.sideBar{
    background-color: #363636;
    left: 0px;
    width: 103px;
    bottom: 66px;
   top: 70px;
    position: absolute;
}

.undo-redo{
    display: inline-block;
    height: 20px;
    width: 60px;
    margin-left: 19px;
    margin-top: 2px;
}

.containerStrokeFill{
    display: inline-block;
    width: 88px;
    margin-left: 6px;
    height: 69px;
    color: #CACACC;
}

.optionsImage{
    position: absolute;
    left: 103px;
}

.colourBarTitle
{
    display: inline-block;
    color: #CACACC;;
    vertical-align: bottom;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 4px;
    width: 75px;
}

.containerLineWidth{
    display: inline-block;
    width: 135px;
    margin-left: 6px;
    height: 69px;
    color: #CACACC;
    vertical-align: middle;
    padding-top: 17px;
}

.newContainerDiv{

}

.transparentCheckBox{
    vertical-align: middle;
}

.inputNew{
    width: 31px;
}

.newDiv{
    margin-top: 6px;
    margin-left: 4px;
}

.widthSpan{
    margin-right: 8px;
}

.heightSpan{
    margin-right: 4px;
}


.topBar{
    background-color: #545255;
    position: absolute;
    top: 0px;
    height: 70px;
    left: 122px;
    right: 0px;
    color: #CACACC;
}

.bottomBar{
    background-color: #800080;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 66px;
    background-image: url("images/bottomBar.png");
}

.mainDiv{
    background-color: #CFCFCF;
    right: 0px;
    position: absolute;
    width: 1263px;
    bottom: 66px;
    top: 70px;
}

.options-panel{
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.colourWell{
display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px inset #808080;
    z-index: 1;
    position: absolute;
}

.textDiv{
    display:inline-block;
    width: 201px;
    height: 52px;
    background-color: white;
}

.containerRectangleCircle{
    display: inline-block;
    width: 91px;
    margin-left: 6px;
    height: 69px;
    color: #CACACC;
}
.containerFill {
    display: inline-block;
    width: 91px;
    margin-left: 6px;
    height: 69px;
    color: #CACACC;
    vertical-align: middle;
    padding-top: 12px;
}

.containingDivColourWell{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 5px;
}

.checkeredDiv{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px inset #808080;
    background-image: url("images/checkedBoard.png");
    z-index: 0;
    position: absolute;
}

.toolIcon{
 float: right;
    height: 18px;
}

.toolDiv{
    display: inline-block;
    width: 67px;
    border: 1px inset #808080;
    margin: 5px;
    color: #CACACC;
    margin-left: 16px;
}



.colourBarDiv{
    height: 33px;
    position: relative;
    vertical-align: middle;
}

.drawingAreaDiv{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
}

.canvas{
    border: 1px solid black;
    z-index: 10;
    position: absolute;
    box-shadow: 2px 2px 5px #888888;
}

.behindCanvas{
    border: 1px solid black;
    z-index: 0;
    background-image: url("images/checkedBoard1.png");
    position: absolute;

}

.toolHeader{
    background-color: rgb(255, 138, 12);
    text-align: center;
}

.slider{

}

.dropDownBox
{
    width: 50px;
}

.backgroundCanvas
{

}